// Background
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #151825;
$containers: #222738;
$hover: #3a57e8;
$smartbg: #222738;
// text color
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;
$title: #dbdfe4;
