.topBox {
    h1 {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .list {
        .listItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;
            // border: 1px solid red;
            .user {
                display: flex;
                gap: 10px;
                img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                .usertext {
                    gap: 5px;
                    display: flex;
                    flex-direction: column;
                    .username {
                        font-size: 14px;
                        font-weight: 600;
                    }
                    .email {
                        font-weight: 400;
                        font-size: 12px;
                    }
                }
            }
            .amount {
                font-family: 500;
            }
        }
    }
}
