@import "../../styles/variable.scss";
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid $soft-bg;
    background-color: $smartbg;

    span {
        &:first-child {
            font-weight: bold;
        }
        &:last-child {
            font-size: 14px;
        }
    }
}
